extends layout

block content
	.container
		.row
			.col-md-offset-2.col-md-10
				h1 Welcome to the contest page
				p Vote for one of the two videos below
				each item in contestVideos
					h2 #{item.title}
					iframe(width="560" height="315" src="//www.youtube.com/embed/" + item.url frameborder="0" allowfullscreen)
