extends layout

block content
	.container
		.row
			.col-md-offset-2.col-md-10
				h3 Sorry! The contest has reached the max number of entries.
				a(href="/entries")
					button.btn.btn-primary See all the entries