extends layout

block content
	.container
		.row
			.col-md-offset-2.col-md-10
				if currentSubmissions.length >= 8
					h1 All Videos Submitted
					a(href="/contest")
						button Start the Contest
				else 
					h1 Current Submissions

				each item in currentSubmissions
					iframe(width="560" height="315" src="//www.youtube.com/embed/" + item.url frameborder="0" allowfullscreen)

				if currentSubmissions.length < 8
					a(href="/")
						button.add-submission Add another video